[ req ]
prompt                 = no
output_password        = cl13nt
default_bits           = 3072
default_md             = sha256
distinguished_name     = req_distinguished_name

[ req_distinguished_name ]
C                      = US
ST                     = Colorado
L                      = Colorado Springs
O                      = Prairie Thorn
OU                     = Sales
CN                     = sales.prairiethorn.org
CN                     = client.prairiethorn.org
CN                     = support.prairiethorn.org, marketing.prariethorn.org
emailAddress           = doofus@prairiethorn.org

[ usr_cert ]
basicConstraints       = CA:FALSE
nsComment              = "OpenSSL Generated Certificate"
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid,issuer
subjectAltName         = DNS:client1.prairiethorn.org, DNS:client2.prairiethorn.org, DNS:client3.prairiethorn.org
