[ req ]
prompt                 = no
input_password         = password
output_password        = password
default_bits           = 1024
default_md             = sha1
distinguished_name     = req_distinguished_name

[ req_distinguished_name ]
C                      = US
ST                     = Colorado
L                      = Denver
O                      = Digital Aggregates Corporation
OU                     = R&D
CN                     = client.diag.com
emailAddress           = coverclock@diag.com
