[ req ]
prompt                 = no
output_password        = cl13nt
default_bits           = 1024
default_md             = sha1
distinguished_name     = req_distinguished_name

[ req_distinguished_name ]
C                      = US
ST                     = Colorado
L                      = Denver
O                      = Prairie Thorn
OU                     = RnD
CN                     = client.prairiethorn.org
emailAddress           = rnd@prairiethorn.org
