[ req ]
prompt                 = no
output_password        = r00t
default_bits           = 3072
default_md             = sha256
distinguished_name     = req_distinguished_name

[ req_distinguished_name ]
C                      = US
ST                     = Colorado
L                      = Denver
O                      = Prairie Thorn
OU                     = HQ
CN                     = hq.prairiethorn.org
emailAddress           = hq@prairiethorn.org
