# Copyright 2018 Digital Aggregates Corporation, Colorado, USA<BR>
# Licensed under the terms in LICENSE.txt
# Chip Overclock (mailto:coverclock@diag.com)
# https://github.com/coverclock/com-diag-codex

[ req ]
prompt                 = no
output_password        = r00t
default_bits           = 3072
default_md             = sha256
distinguished_name     = req_distinguished_name

[ req_distinguished_name ]
C                      = US
ST                     = Colorado
L                      = Denver
O                      = Prairie Thorn
OU                     = HQ
CN                     = hq.prairiethorn.org
emailAddress           = hq@prairiethorn.org

[ v3_ca ]
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always,issuer
basicConstraints       = CA:true
