[ req ]
prompt                 = no
output_password        = s3rv3r
default_bits           = 3072
default_md             = sha256
distinguished_name     = req_distinguished_name

[ req_distinguished_name ]
C                      = US
ST                     = Colorado
L                      = Denver
O                      = Prairie Thorn
OU                     = IT
CN                     = server.prairiethorn.org
emailAddress           = it@prairiethorn.org

[ usr_cert ]
basicConstraints       = CA:FALSE
nsComment              = "OpenSSL Generated Certificate"
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid,issuer
subjectAltName         = DNS:server.prairiethorn.org
