[ req ]
prompt                 = no
output_password        = s3rv3r
default_bits           = 1024
default_md             = sha1
distinguished_name     = req_distinguished_name

[ req_distinguished_name ]
C                      = US
ST                     = Colorado
L                      = Denver
O                      = Digital Aggregates Corporation
OU                     = IT
CN                     = server.diag.com
emailAddress           = coverclock@diag.com
