# Copyright 2021 Digital Aggregates Corporation, Colorado, USA<BR>
# Licensed under the terms in LICENSE.txt
# Chip Overclock (mailto:coverclock@diag.com)
# https://github.com/coverclock/com-diag-codex
# In support of the Wheatstone sub-project in com-diag-hazer.

[ req ]
prompt                 = no
default_bits           = 3072
default_md             = sha256
distinguished_name     = req_distinguished_name

[ req_distinguished_name ]
C                      = US
ST                     = Colorado
L                      = Wheat Ridge
O                      = Prairie Thorn
OU                     = Wheatstone
CN                     = wheatstone.prairiethorn.org
emailAddress           = wheatstone@prairiethorn.org

[ usr_cert ]
basicConstraints       = CA:FALSE
nsComment              = "OpenSSL Generated Certificate"
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid,issuer
subjectAltName         = DNS:localhost
